blis==0.7.8
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.4
confection==0.0.2
cymem==2.0.6
ffmpeg-python==0.2.0
filelock==3.8.0
future==0.18.2
ginza==5.1.1
huggingface-hub==0.10.0
idna==3.4
ja-ginza==5.1.2
Jinja2==3.1.2
langcodes==3.3.0
MarkupSafe==2.1.1
more-itertools==8.14.0
murmurhash==1.0.8
numpy==1.23.3
packaging==21.3
pathy==0.6.2
plac==1.3.5
preshed==3.0.7
PyAudio==0.2.12
pydantic==1.8.2
pyparsing==3.0.9
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
smart-open==5.2.1
spacy==3.2.4
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.4
SudachiDict-core==20220729
SudachiPy==0.6.6
thinc==8.0.17
tokenizers==0.12.1
torch==1.12.1
tqdm==4.64.1
transformers==4.22.2
typer==0.4.2
typing_extensions==4.3.0
urllib3==1.26.12
wasabi==0.10.1
whisper==1.0
